.dialog {
  display: flex;
  height: 56px;
  padding: 0 12px;
  border-bottom: solid 1px #f1f1f1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.dialog:hover,
.dialog_active {
  background: #f1f1f1;
}